body {
  margin: 0;
  background: #e5e5e5;
  font-family: Arial, sans-serif;
}

/* APP */
.app {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 140px;
  position: relative;
}

/* HOOK */
.hook {
  width: 22px;
  height: 22px;
  background: #222;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

/* STRING */
.string {
  width: 3px;
  height: 90px;
  background: #444;
  position: absolute;
  top: 42px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
}

/* CALENDAR */
.calendar {
  width: 360px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  position: relative;

  box-shadow: 
    0 40px 70px rgba(0,0,0,0.35),
    0 10px 20px rgba(0,0,0,0.2);

  transform: rotateX(5deg);
}

/* HOLE */
.calendar::before {
  content: "";
  width: 14px;
  height: 14px;
  background: #222;
  border-radius: 50%;
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
}

/* IMAGE */
.image-box img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav button {
  padding: 6px 10px;
  cursor: pointer;
}

/* WEEK */
.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

/* DAYS */
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
  padding: 10px;
}

.day {
  background: #f2f2f2;
  padding: 10px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  .day:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
}

/* RANGE COLORS */
/* START DATE (FIRST CLICK) */
.day.start {
  background: #ff4d4f;   /* RED */
  color: white;
  font-weight: bold;
}

/* END DATE (LAST CLICK) */
.day.end {
  background: #1677ff;   /* BLUE */
  color: white;
  font-weight: bold;
}

/* MIDDLE RANGE */
.day.selected {
  background: #cce5ff;   /* LIGHT BLUE */
}

/* NOTES */
.note-box {
  display: flex;
  padding: 10px;
  gap: 5px;
}

.note-box input {
  flex: 1;
  padding: 6px;
}

.notes {
  padding: 10px;
}

.note-item {
  background: #f7f7f7;
  padding: 8px;
  margin-top: 8px;
  border-radius: 6px;
}